//-----------------------------------------------------------------------------
// File: _sass/_global_variables.scss
//
// Define global sass variables
//-----------------------------------------------------------------------------
$qb-purple:										#4D148C;
$qb-orange:										#FF9100;
$qb-white:                    #FFFFFF;
$qb-dark-gray:                #333333;
$qb-gray:                     #666666;
$qb-light-gray:					      #E7E7E7;
