//-----------------------------------------------------------------------------
// File: _sass/_global_variables.scss
//
// Define global sass variables
//-----------------------------------------------------------------------------
$qb-purple:										#4D148C;
$qb-orange:										#FF9100;
$qb-white:                    #FFFFFF;
$qb-dark-gray:                #333333;
$qb-gray:                     #666666;
$qb-light-gray:					      #E7E7E7;

$twitter:                     #00aced;
$facebook:                    #3b5998;
$googleplus:                  #dd4b39;
$linkedin:                    #007bb6;
